<h1>Product form</h1>
<form [formGroup]="addProductForm" (ngSubmit)="addToCart()">
  <mat-form-field appearance="fill">
    <mat-label for="productId">ID:</mat-label>

    <input matInput type="number" id="productId" placeholder="Id" formControlName="productId">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="productName">Product name:</mat-label>

    <input matInput type="text" id="productName" placeholder="Name" formControlName="productName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="description">Description:</mat-label>

    <input matInput type="text" id="description" placeholder="description" formControlName="description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="value">Value:</mat-label>

    <input matInput type="number" id="value" placeholder="value" formControlName="value">
  </mat-form-field>
  <button type="submit">Buy</button>
</form>

<h1>Productsw:</h1>
<div *ngFor="let product of products">
  <div>{{product.productId}},{{product.productName}},{{product.description}},{{product.value}},</div>
</div>
