<h1>User form</h1>
<form [formGroup]="addUserForm" (ngSubmit)="addUser()">
  <label for="userId">ID:</label><br>
  <input type="number" id="userId" placeholder="Id" formControlName="userId"><br>

  <label for="userName">Name:</label><br>
  <input type="text" id="userName" placeholder="Name" formControlName="userName"><br>
  <label for="birthDate">Birth:</label><br>
  <input type="text" id="birthDate" placeholder="Birth" formControlName="birthDate"><br>
  <label for="phoneNumber">Phone:</label><br>
  <input type="text" id="phoneNumber" placeholder="Phone" formControlName="phoneNumber"><br>
<!--  <span class="error" *ngIf="phoneNumber.invalid">Phone number should have valid format</span>-->
  <label for="email">Email:</label><br>
  <input type="text" id="email" placeholder="Email" formControlName="email"><br>
  <label for="role">Role:</label><br>
  <input type="text" id="role" placeholder="Role" formControlName="role"><br>

  <button type="submit">Add</button>
</form>

<h1>Users:</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Birth</th>
    <th>Number</th>
    <th>Role</th>
  </tr>
    <tr  *ngFor="let user of users">
      <td>
        {{user.userId}}
      </td>
      <td>
        {{user.userName}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.birthDate}}
      </td>
      <td>
        {{user.phoneNumber}}
      </td>
      <td>
        {{user.role}}
      </td>
    </tr>
</table>
